<h3>Hacker News</h3><hr>

<h4>Article(s):</h4><br>

<ul>
  <% @links.each do |link| %>
    <li>
      <%= link_to link.name, "http://#{link.url}", :class => "btn btn-xs btn-primary" %>
      <%= link_to "view comments (#{link.comments.count})", link_path(link), :class => "btn btn-xs btn-warning" %>
      <%= link_to 'edit', edit_link_path(link), :class => "btn btn-xs btn-default" %>
      <%= link_to 'delete', link_path(link),
                                        :data => {:confirm => 'Delete?',
                                        :method => 'delete' }, :class => "btn btn-xs btn-danger" %><br>

      Link Score : <%= link.link_score%>
      <br><%= form_for link do |f| %>
        <%= f.hidden_field :link_score, value: link.link_score + 1 %>
        <%= f.button 'Up Vote', :class => "btn btn-xs btn-success" %>
      <% end %>

      <%= form_for link do |f| %>
        <%= f.hidden_field :link_score, value: (link.link_score - 1) %>
        <%= f.button 'Down Vote', :class => "btn btn-xs btn-danger" %>
      <% end %><br>

    </li>
  <% end %>

</ul>

<p><%= link_to 'Add new link', new_link_path, :class => "btn btn-sm btn-primary" %></p>
